@use "../../../styles/responsive.scss" as *;
.suppliers-main-categories {
  width: 17%;
  display: none;
  height: max-content;

  background-color: #fff;
  .suppliers-main-page-categories-item-container {
    padding: 16px 15px;
    h3 {
      font-size: clamp(10px, 2vw, 14px);
      font-weight: 600;
    }
    .suppliers-more-less-secondary {
      display: none;
    }
    .suppliers-main-page-categories-item-list {
      list-style: none;
      padding: 8px 0px;
      li {
        text-overflow: wrap;
        white-space: wrap;

        font-size: clamp(12px, 1vw, 14px);
        line-height: 15px;
        color: #555;
        margin-bottom: 8px;
      }
    }
    .suppliers-more-less {
      background-color: #fff;
      font-size: 12px;
      border-radius: 24px;
      border: 1px solid #555;
      padding: 4px 8px;
    }
  }
  .suppliers-page-categories-checkbox-list {
    h3 {
      font-size: 14px;
      font-weight: 600;
    }
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .suppliers-pafe-categoties-checkbox-list-contaier {
      gap: 8px;
      align-items: end;
      display: flex;
      input {
        width: 16px;
        height: 16px;
      }
      label {
        color: #555;
        font-size: 14px;
      }
    }
  }
  @include responsive($tablet) {
    display: block;
  }
  @include responsive($laptop) {
    width: 14%;
  }
}
