@use "../../../styles/mixins.scss" as *;
@use "../../../styles/responsive.scss" as *;

.more-videos-section {
  // height: max-content;
  // overflow-y: scroll;
  z-index: 0;
  flex: 1;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  background-color: white;

  .more-videos-title {
    @include flex;
    gap: 16px;
    img {
      border-radius: 14px;
    }
    .more-videos-title-link {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .more-videos-main-container {
    display: block;
    height: max-content;
    @include responsive($mobile) {
      display: flex;
      flex-wrap: wrap;
    }
    @include responsive($laptop) {
      display: block;
    }
  }

  .more-videos {
    width: 100%;
    margin-top: 36px;
    display: block;

    .more-videos-container {
      width: 100%;
      margin-top: 16px;
      line-height: 1.25rem;
      height: 120px;
      @include flex;
      align-items: start;
      gap: 16px;
      margin-bottom: 16px;
      .video-preview {
        width: 120px;
        height: 120px;
        img {
          border-radius: 12px;
          width: 80px;
          height: 80px;
          @include responsive($tablet) {
            width: 120px;
            height: 120px;
          }
        }
      }
      .video-title {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 8px;
        font-size: 12px;
        @include responsive($tablet) {
          font-size: 14px;
        }
      }
      &:hover .video-title {
        color: crimson;
      }
      @include responsive($mobile) {
        width: calc(50% - 13px);
      }
      @include responsive($laptop) {
        width: 100%;
      }
    }

    @include responsive($laptop) {
      display: block;
    }
  }
}
