@use "../../../../styles/responsive.scss" as *;
$mini-laptop-size: 1280px;

.bestseller-main-container {
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  // align-self: stretch;
  height: 130px;
  overflow: hidden;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    font-size: 12px;
    color: #e64545;
  }
  .bestseller-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    .bestseller-item-image {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bestseller-item-info {
      display: block;
      text-align: left;
      span {
        font-size: clamp(14px, 2vw, 18px);
        font-weight: bold;
        color: #222222;
        .type {
          font-size: clamp(10px, 2vw, 14px);
          color: #888;
          font-weight: normal;
        }
      }
      p {
        font-size: 14px;
        font-weight: normal;
        color: #888;
        span {
          font-size: 14px;
          color: #222222;
          font-weight: bold;
        }
      }
    }
  }
  @include responsive($tablet) {
    width: 68%;
  }
  @include responsive($mini-laptop-size) {
    width: 100%;
    height: 75%;
    flex-direction: column;
  }
}

#trading-page-main-bestseller {
  width: 100%;
  height: 100%;
  padding: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 99;
  width: 36px;
  height: 36px;
  background-color: #222;
  border-radius: 100%;
  opacity: 0.6;
  &:after {
    font-size: 18px;
    color: #f5f5f5;
  }
}
.swiper-button-disabled {
  display: none;
}
.swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
