.products {
  position: relative;
  z-index: 60;
  padding: 36px;
  border: 2px solid #e6ecf2;
  // display: block;
  background-color: #fff;
  margin: 24px 0;
  .products-cat {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 8px;
    .cat-item {
      text-overflow: nowrap;
      white-space: nowrap;
      background-color: #f0f1f2;
      padding: 10px 18px;
      border-radius: 4px;
      color: #888;
      font-size: 14px;
      &:active {
        background-color: #e64545;
        color: #fff;
      }
      &:first-child {
        background-color: #e64545;
        color: #fff;
      }
    }
  }
  .products-sldier {
    margin-top: 16px;
  }
}
