#productSlider {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #e64d45;
  }
  .swiper-slide {
    text-align: center;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    margin-bottom: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child .product-image {
      opacity: 0.3;
    }
    &:last-child .product-card-title {
      opacity: 0.3;
    }
    &:last-child .card-view-more {
      display: flex;
    }
  }
}
