@use "../../../styles/responsive.scss" as *;
$Tabletsize: 768px;
$resize1: 540px;
.suppliers-main-banner {
  width: 100%;
  height: max-content;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: linear-gradient(90deg, #5125af 0%, #62cad9 100%);
  .suppliers-main-banner-video {
    position: relative;
    width: 100%;
    padding: 16px 14px;
    height: 370px;
    .suppliers-main-banner-view-section-controller {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      top: 30px;
      left: 40%;
      display: flex;
      align-items: center;
      height: max-content;
      border-radius: 36px;
      background: rgba(102, 102, 102, 0.5);
      // background-color: #fff;
      .suppliers-main-banner-view-video-controller {
        color: #fff;
        padding: 4px 12px;
        border-radius: 36px;
      }
      .supplier-page-main-banner-view-photo-controller {
        color: #fff;

        display: flex;
        padding: 8px 12px;
        border-radius: 36px;
        align-items: center;
      }
      @include responsive($Tabletsize) {
        left: 32%;
      }
    }
    .supplier-main-banner-video-player {
      // position: relative;
      background-color: black;
      height: 100%;
      width: 100%;
    }
    @include responsive($Tabletsize) {
      width: 30%;
    }
  }
  .suppliers-main-banner-right-side {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 360px;
    padding: 0 16px;
    .suppliers-main-banner-header {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-between;
      .suppliers-main-banner-title {
        display: flex;
        gap: 8px;
        img.suppliers-main-banner-manufacturer-logo {
          width: 50px;
          height: 50px;
        }
        .suppliers-main-banner-top-supplier-info {
          display: flex;
          flex-direction: column;
          gap: 4px;
          align-items: start;
          .suppliers-main-banner-top-supplier-title {
            width: max-content;
            a {
              color: #fff;
              text-decoration: underline;
              font-weight: 700;
              font-size: clamp(14px, 1vw, 16px);
              line-height: 21px;
              white-space: nowrap;
            }
          }
          .suppliers-main-banner-top-supplier-more-information {
            // padding-top: 8px;
            display: flex;
            align-items: center;
            a {
              white-space: nowrap;
              width: fit-content;
              display: flex;
              align-items: center;
              font-size: clamp(10px, 1vw, 14px);
              margin-right: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #fff;
              img {
                width: 16px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .suppliers-main-banner-call-to-action {
        display: flex;
        gap: 16px;
        align-items: center;
        .suppliers-main-banner-contact-now {
          white-space: nowrap;
          height: 30px;
          padding: 0 16px;
          width: auto;
          color: #fff;
          border-radius: 48px;
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: clamp(12px, 1vw, 14px);
          span {
            padding-top: 2px;
            font-size: 18px;
          }

          background-color: #e64545;
          &:hover {
            background-color: #cf3e3e;
          }
        }
        .suppliers-main-banner-chat {
          display: none;
          height: 30px;
          padding: 0 16px;
          width: auto;
          background-color: #f5f7fa;
          border-radius: 48px;
          align-items: center;
          gap: 8px;
          font-size: 14px;
          @include responsive($laptop) {
            display: flex;
          }
        }
      }
      @include responsive($resize1) {
        flex-direction: row;
      }
    }
    .suppliers-main-banner-slider-container {
      width: 100%;
      height: 100%;
      // height: max-content;
      #supplier-main-banner-slider {
        width: 100%;
        height: 100%;
        .swiper-scrollbar.swiper-scrollbar-horizontal {
          opacity: 0.5;
          max-width: 60px !important;
          height: 5px;
          bottom: 0;
          left: 45%;

          background-color: #888888;
        }
        .swiper-button-next {
          right: 0;
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
          padding: 30px 16px;
          border-radius: 0 !important;
          &::after {
            font-size: 18px;
          }
        }
        .swiper-button-prev {
          left: 0;
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
          padding: 30px 16px;
          border-radius: 0 !important;

          &::after {
            font-size: 18px;
          }
        }

        .swiper-scrollbar-drag {
          background-color: #463a3a;
        }

        .swiper-slide {
          background-color: transparent;
          text-align: center;
          font-size: 18px;

          /* Center slide text vertically */
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    @include responsive($Tabletsize) {
      width: 70%;
    }
  }
  @include responsive($mobile) {
    display: block;
  }
  @include responsive($Tabletsize) {
    display: flex;
  }
}
