@use "../../../../styles/responsive.scss" as *;
.products-page-card-photo-slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  .products-page-card-photo-slider-index {
    position: absolute;
    display: flex;
    // background-color: red;
    bottom: 0;
    z-index: 99;
    align-items: center;
    gap: 4px;
    left: 6px;
    .products-page-card-photo-sldier-play-button {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
      padding: 0 5px;
      display: none;
      justify-content: center;
      align-items: center;
      a {
        color: #fff;
      }
      @include responsive($mobile) {
        display: flex;
      }
    }
    .products-page-card-photo-slider-index-item {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
      padding: 6px 12px;
      display: none;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 12px;
      @include responsive($mobile) {
        display: flex;
      }
    }
  }
  #products-page-main-cards-photo-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    .swiper-button-next {
      // opacity: 0;
      // visibility: hidden;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0 !important;
      padding: 30px 8px;

      right: 0;
      transition: 0.3s;
      &::after {
        font-size: 12px;
        color: #fff;
      }
    }
    .swiper-button-prev {
      border-radius: 0;

      // opacity: 0;
      // visibility: hidden;
      background: rgba(0, 0, 0, 0.3);
      padding: 30px 8px;
      left: 0;
      transition: 0.3s;
      &::after {
        font-size: 12px;
        color: #fff;
      }
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .swiper-button-next {
        visibility: visible;
        opacity: 1;
      }
      .swiper-button-prev {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
