@use "../../../styles/responsive.scss" as *;
$resize1: 1440px;
$resize2: 1200px;
$resize-mobile: 540px;
.products-main-cards-container {
  position: relative;
  border: 1px solid #e6ecf2;
  background-color: #fff;
  width: 50%;
  padding: 10px;
  height: max-content;
  &:last-child {
    border-right: 2px solid #e6ecf2;
  }
  .products-main-cards-header {
    width: 100%;
    height: max-content;
    position: relative;
    .products-main-cards-liked {
      cursor: pointer;
      display: none;
      color: #fff;
      width: 24px;
      z-index: 2;
      height: 24px;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      position: absolute;
      top: -15px;
      right: -15px;
      background: #d9dfe6;
      @include responsive($mobile) {
        display: flex;
      }
    }
  }
  .products-main-cards-image-slider-container {
    height: 150px;
    @include responsive($mobile) {
      height: 170px;
    }
    @include responsive($tablet) {
      height: 210px;
    }
  }
  .products-main-cards-info {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
    .products-main-cards-info-title {
      color: #555;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      font-size: clamp(10px, 1vw, 14px);
      font-weight: 500;
      letter-spacing: 0.05rem;
      line-height: 1.25;
      strong {
        color: #222;
        font-weight: 700;
      }
    }
    .products-main-cards-information {
      // white-space: nowrap;
      // display: flex;
      text-align: left;
      font-size: clamp(10px, 1vw, 14px);
      div {
        display: flex;
        gap: 4px;
        align-items: center;
      }
      strong {
        font-weight: 750;
        line-height: 1;

        color: #222;
      }
      p {
        font-weight: normal;
        // color: #555;
      }
      h4 {
        color: #888;
        font-weight: bold;
      }
    }
    .products-main-cards-info-more-info {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;
      .products-main-cards-icons {
        width: 16px;
        height: 16px;
      }
      .products-main-cards-info-more-info-fast {
        color: #555;
        font-weight: 600;
        display: flex;
        font-size: clamp(8px, 1vw, 12px);
        gap: 2px;
        align-items: center;
        background: linear-gradient(90deg, #ffe2e2, #fff);
        border-radius: 36px;
        // margin-left: 4px;
        padding: 4px 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .products-main-cards-info-manufacturer {
      max-width: 100%;
      // overflow-x: hidden;
      // overflow-y: visible;
      font-size: clamp(8px, 1vw, 12px);
      position: relative;
      a {
        text-overflow: ellipsis;
        overflow: hidden;

        // white-space: nowrap;
        // width: 90%;
        color: #888;
      }
      .products-main-cards-info-manufacturer-dropdown {
        display: none;
        width: 120%;
        height: max-content;
        border-radius: 4px;
        left: -20px;
        // background-color: red;
        background-color: #fff;
        // display: none;
        position: absolute;
        top: 100%;
        z-index: 11;
        height: 170px;
        padding: 5px;
        .products-main-cards-info-manufacturer-dropdown-header {
          height: 50px;
          width: 100%;
          background-image: url("assets/Image/Products/company_bg.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          h5 {
            padding: 8px;
            font-size: 12px;
            white-space: wrap;
            font-weight: bold;
            color: #222;
          }
        }
        .products-main-cards-info-manufacturer-dropdown-body {
          box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.6);
          width: 100%;
          padding: 8px;
          background-color: #fff;
          ul {
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-bottom: 1px dashed #222;
            list-style: none;
            li {
              width: 50%;
              text-align: left;
              line-height: 1.5;
              display: flex;
              align-items: center;
              gap: 8px;
              .products-main-cards-icons {
                width: 16px;
                height: 16px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          p {
            padding-top: 4px;
          }
        }
      }
      &:hover .products-main-cards-info-manufacturer-dropdown {
        display: block;
      }
    }
    .products-main-cards-info-call-to-action {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 4px;
      .products-main-cards-info-call-to-action-contact-now-button {
        background-color: #e64545;
        padding: 8px 10px;
        font-size: clamp(12px, 1vw, 16px);
        color: #fff;
        border-radius: 4px;
        transition: 0.3s;
        white-space: nowrap;
        &:hover {
          background-color: #d92121;
        }
      }
      .products-main-cards-info-call-to-action-cart-button {
        border: 0.5px solid #555;
        border-radius: 4px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        color: rgb(81, 81, 250);
        font-size: 20px;
      }
      .products-main-cards-info-call-to-action-massenger {
        width: 24px;
        height: 24px;
        display: none;
        @include responsive($tablet) {
          display: block;
        }
      }
    }
    .products-main-cards-info-hover {
      // display: none;
      background-color: #fff;
      width: 100%;
      left: 0;
      position: absolute;
      top: 98%;
      z-index: 10;

      visibility: hidden;
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: 0.3s;
      .products-main-cards-info-hover-list {
        padding: 20px;
        list-style: none;
        padding-top: 0;
        li {
          line-height: 2;
          font-size: 12px;
          span {
            color: #888;
          }
        }
      }
    }
  }
  @include responsive($tablet) {
    &:hover {
      .products-main-cards-info-hover {
        opacity: 1;
        box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.6);
        height: auto;
        visibility: visible;
        display: block;
        transition: 0.3s;
      }
    }
  }
  @include responsive($resize-mobile) {
    padding: 20px;
    width: 33.33%;
  }
  @include responsive($resize2) {
    width: 25%;
  }
  @include responsive($resize1) {
    width: 20%;
  }
}
.products-main-cards-container:hover {
  border-top: 1px solid #e6ecf2;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #e6ecf2;
  border-left: 1px solid #e6ecf2;
  box-shadow: 1px 2px 15px -5px rgba(0, 0, 0, 0.6);
}
