$primary-color: crimson;
$light-gray: lightgray;
$input-camera-icon-color: gray;
$white: white;

$opacity-high: 0.87;
$opacity-medium: 0.6;
$opacity-low: 0.38; 


$text-16: 16px;
$text-14: 14px;
$text-12: 12px;

