@use "../../../styles/responsive.scss" as *;
$laptop-mini-size: 1280px;
.trading-navbar {
  position: relative;
  z-index: 60;
  background-color: white;
  padding: 20px 2.5%;
  width: 100%;
  border-bottom: 1px solid #e6ecf2;
  .trending-page-navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1208px;
    margin: auto;
    .trading-logo-and-title {
      display: flex;
      align-items: center;
      gap: 16px;
      .trading-logo {
        width: 252px;
        height: 47px;
      }
      .trading-title {
        display: none;
        padding-top: 8px;
        font-size: clamp(14px, 2vw, 16px);
        line-height: 35px;
        color: #222;
        &:hover {
          color: #e64545;
        }
        @include responsive($mobile) {
          display: block;
        }
      }
    }
    .trading-call-to-action {
      display: flex;
      align-items: center;
      gap: 16px;
      a {
        color: #1470cc;
        font-size: 12px;
        &:hover {
          color: #e64545;
        }
      }
    }
  }
  @include responsive($laptop-mini-size) {
    padding: 20px 10%;
  }
}
