@use "../../../styles/responsive.scss" as *;
$resize1: 980px;
$resize2: 1200px;
$resize3: 1440px;
$TabletSize: 768px;

.suppliers-page-manufacturers-card {
  padding: 16px;
  width: 100%;
  height: 270px;
  background-color: white;
  border-bottom: 1px solid #e7ebf3;
  .suppliers-page-manufacturers-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    .suppliers-page-manufacturers-card-header-info {
      display: flex;
      gap: 16px;
      img.suppliers-page-manufacturers-card-company-logo {
        display: none;
        @include responsive($mobile) {
          display: block;
        }
      }
      .suppliers-page-manufacturers-card-header-info-title {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          font-size: clamp(12px, 2vw, 16px);
          color: #222222;
          font-weight: 500;
          line-height: 24px;
        }
        .suppliers-page-manufacturers-card-header-info-badges {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 8px;
          .suppliers-page-manufacturers-card-header-info-badge-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            span {
              font-size: clamp(10px, 2vw, 14px);
              line-height: 21px;
            }
            span.suppliers-page-manufacturers-card-info-badge-item-audited {
              display: flex;
              gap: 4px;
              align-items: center;
            }
            img {
              width: 16px;
              height: 16px;
            }
            .suppliers-page-manufactureres-card-info-item-tooltip {
              box-shadow: rgba(0, 0, 0, 0.03) 0px 9px 16px 8px,
                rgba(0, 0, 0, 0.06) 0px 6px 10px,
                rgba(0, 0, 0, 0.12) 0px 3px 6px -3px;
              // padding: 8px;
              border-radius: 3px;
              position: absolute;
              width: max-content;
              white-space: nowrap;
              // visibility: hidden;
              bottom: 120%;
              // left: 50%;
              margin-right: calc(100% / 2);
              display: none;
              background-color: #fff;
              z-index: 1;
              h3 {
                font-size: 1rem;
                font-weight: 600;
                padding: 8px 8px 0px 8px;
                width: 100%;
                text-align: left;
                border-bottom: 0.5px solid lightgray;
              }
              .suppliers-page-manufacturers-card-info-item-tooltip-list {
                white-space: nowrap;
                padding: 8px;
                list-style: none;
                line-height: 24px;
                .suppliers-page-manufacturers-card-info-title-item-disabled {
                  color: #888888;
                  padding-left: 24px;
                }
                .suppliers-page-manufacturers-card-info-tooltip-list-item {
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  flex-wrap: nowrap;
                  gap: 8px;
                  .supplier-page-audited-supplier-icon {
                    color: #e64545;
                  }
                  .supplier-page-manufacturers-card-info-tooltip-item-text {
                    line-height: 24px;

                    white-space: nowrap;
                    width: 100%;
                  }
                }
              }
            }
            .suppliers-page-manufactureres-card-info-item-tooltip::after {
              content: " ";
              position: absolute;
              top: 100%; /* At the bottom of the tooltip */
              left: 10%;
              width: 4px;
              height: 6px;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: white transparent transparent transparent;
            }
            &:hover .suppliers-page-manufactureres-card-info-item-tooltip {
              display: block;
            }
          }
        }
      }
    }
    .suppliers-page-manufacturers-card-header-like {
      padding-top: 8px;
      display: flex;
      align-items: center;
      gap: 12px;
      .suppliers-page-manufacturers-card-header-like-item {
        // font-size: clamp(10px, 2vw, 14px);
        display: flex;
        align-items: center;
        gap: 4px;
        .suppliers-page-manufacturers-hedaer-like-icon {
          font-size: clamp(12px, 2vw, 18px);
        }
        span {
          padding-bottom: 4px;
          font-size: clamp(10px, 2vw, 14px);
        }
        &:nth-child(2) {
          display: none;
        }
        @include responsive($TabletSize) {
          &:nth-child(2) {
            display: flex;
          }
        }
      }
    }
    @include responsive($TabletSize) {
      align-items: end;
    }
  }
  .suppliers-page-manufacturers-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    .supliers-page-manufacturers-card-body-info {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      // gap: 8px;
      .suppliers-page-manufacturers-card-body-info-list {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 8px;
          p {
            font-size: clamp(10px, 2vw, 14px);
            line-height: 21px;
            color: #999999;
          }
          span {
            font-size: clamp(10px, 2vw, 14px);
            line-height: 21px;
            color: #222222;
          }
        }
      }
      a {
        font-size: clamp(10px, 2vw, 14px);
        display: flex;
        align-items: center;
        color: #2e8ae6;
        &:hover {
          color: #e64545;
        }
      }
      .suppliers-page-manufacturers-card-body-info-call-to-action {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        .suppliers-page-manufacturers-card-body-info-call-to-action-contact-now {
          background-color: #e64545;
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: clamp(10px, 2vw, 14px);
          padding: 2px 12px;
          color: #fff;
          border-radius: 4px;
          span {
            font-size: 20px;
          }
        }
        .suppliers-page-manufacturers-card-body-info-call-to-action-chat {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: clamp(10px, 2vw, 14px);
        }
      }
      @include responsive($mobile) {
        display: flex;
      }
    }
    .suppliers-page-manufacturers-card-body-img-samples {
      display: flex;
      align-items: center;
      gap: 8px;
      a {
        display: block;
        @include responsive($mobile) {
          display: none;
        }
        @include responsive($resize1) {
          &:nth-child(1) {
            display: block;
          }
        }
        @include responsive($resize2) {
          &:nth-child(2) {
            display: block;
          }
        }
        @include responsive($resize3) {
          &:nth-child(3) {
            display: block;
          }
        }
      }
    }
    .suppliers-page-manufacturers-card-body-look-around {
      display: none;
      position: relative;
      object-fit: cover;
      width: 50%;
      height: 177px;
      overflow: hidden;
      .full-view-icon-container {
        position: absolute;
        top: 40%;
        left: 42%;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 36px;
        color: #fff;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include responsive($resize1) {
        width: 30%;
      }
      @include responsive($mobile) {
        display: block;
      }
    }
  }
  .suppliers-page-manufacturers-card-body-mobile-buttons {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    button {
      padding: 4px 8px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      background-color: #e3e4e6;
      border-radius: 16px;
      border: 1px solid #888888;
    }
    @include responsive($mobile) {
      display: none;
    }
  }
  @include responsive($mobile) {
    height: 300px;
  }
}
