@use "../../../styles/responsive.scss" as *;

.search-form-title {
  margin: 36px 0px 0px 36px;
}
.search-container {
  width: 100%;
  // overflow: hidden;
  padding: 16px 36px;
  display: block;
  @include responsive($laptop) {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
.search-form {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 16px;
  justify-content: space-between;
  @include responsive($tablet) {
    flex-direction: row;
  }
  // gap: 16px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker-container {
  //   padding: 5rem;
}

.calendarStyle {
  border: 1px solid #eee;
  font-family: poppins;
  border-radius: 8px;
  z-index: 9999;
  position: relative;
  background-color: #fff;
}

input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
}

.single-calendar-input {
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid lightgray;
  padding: 0 10px;
  font-weight: 500;
  color: #686868;
  //   margin-bottom: 1rem;
  display: flex;
  align-items: center;
  @include responsive($tablet) {
    width: 260px;
  }
}

.date-picker-element-container {
  position: relative;
  .icon {
    position: absolute;
    right: 8px;
    top: 20%;
    width: 2rem;
    color: crimson;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -100%;
  left: 0px;
}

.dropdown.active {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown.inactive {
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

.search {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding-top: 16px;
  @include responsive($laptop) {
    width: 45%;
    padding-top: 0;
  }
  input {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid lightgray;
    color: black;
    &::placeholder {
      color: gray;
    }
  }
  .search-button {
    height: 48px;
    background-color: crimson;
    color: #ffffff;
    padding: 0px 18px;
    line-height: 0;
    border-radius: 4px;
  }
}
