@use "../../styles/responsive.scss" as *;
$TabletSize: 1024px;
.suppliers-main-page-container {
  width: 100%;
  margin: auto;
  max-width: 1920px;
  .suppliers-page-text-under-main-banner {
    display: none;
    margin-top: 10px;
    align-items: center;
    gap: 4px;
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 700;
    line-height: 16px;
    p {
      font-weight: normal;
      color: #888888;
      #total-manufacturers {
        color: #222222;
        line-height: 23px;
      }
    }
    @include responsive($mobile) {
      display: flex;
    }
    @include responsive($desktop) {
      margin: auto;
    }
  }
  .suppliers-page-main-body {
    max-width: 1920px;
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    .suppliers-page-main-body-manufacturers-cards {
      width: 100%;
      margin: auto;
      @include responsive($tablet) {
        width: 98%;
        margin: 0;
        width: 80%;
      }
      @include responsive($TabletSize) {
        width: 70%;
      }
    }
    @include responsive($desktop) {
      margin: auto;
    }
  }
  .suppliers-page-cards-pagination {
    width: 100%;
    padding: 8px 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .suppliers-page-cards-pagination-container {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex: 2;
      @include responsive($tablet) {
        padding-left: 3rem;
      }
    }
    .suppliers-page-cards-pagination-count {
      display: none;
      font-size: clamp(8px, 1vw, 12px);
      flex: 1;

      flex-shrink: 1;
      // display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      @include responsive($laptop) {
        display: flex;
      }
    }
    .suppliers-page-cards-pagination-next-button {
      display: none;
      height: 32px;
      padding: 8px 12px;
      // display: flex;
      align-items: center;
      gap: 8px;
      background-color: #e64545;
      border-radius: 4px;
      color: #fff;
      font-size: clamp(10px, 2vw, 14px);
      #next-button-icon {
        font-size: clamp(12px, 2vw, 18px);
      }
      &:hover {
        background-color: #cc3d3d;
      }
      @include responsive($mobile) {
        display: flex;
      }
    }
    @include responsive($tablet) {
      width: 70%;
    }
  }
  .suppliers-page-second-banner {
    display: none;
    padding-top: 48px;
    width: 95%;
    margin: auto;
    @include responsive($mobile) {
      display: block;
    }
    @include responsive($TabletSize) {
      width: 70%;
    }
  }
  .suppliers-page-footer-recommended-supplier {
    padding-top: 36px;
    width: 70%;
    display: none;
    margin: auto;
    h3 {
      font-size: 1rem;
      margin-bottom: 8px;
    }
    .suppliers-page-footer-recommended-supplier-list {
      margin-bottom: 24px;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 4px;

      li {
        a {
          white-space: nowrap;
          font-weight: thin;
          text-align: left;
          font-size: 0.75rem;
          line-height: 24px;
          color: #2e8ae6;
          &:hover {
            color: #e64545;
          }
        }
      }
    }
    @include responsive($TabletSize) {
      display: block;
    }
  }
  @include responsive($mobile) {
    width: 98%;
  }
  @include responsive($tablet) {
    width: 95%;
  }
}
