.products-page-categories {
  width: 15%;
  background-color: #fff;
  height: auto;
  padding: 8px;
  .products-page-categories-list-title {
    padding-top: 16px;
    font-size: 16px;
    color: #888;
    padding-left: 8px;
  }
}
