@use "../../styles/variables.scss" as *;
@use "../../styles/responsive.scss" as *;

$primary-color: crimson;
$light-gray: lightgray;
$input-camera-icon-color: gray;
$white: white;
$menu-hover-background: rgba(143, 184, 255, 0.108);
$opacity-high: 0.87;
$opacity-medium: 0.6;
$opacity-low: 0.38;

$text-20: 20px;
$text-18: 18px;
$text-16: 16px;
$text-14: 14px;
$text-12: 12px;
$text-10: 10px;
$text-8: 8px;
// @mixin responsive($query) {
//   @media (min-width: $query) {
//     @content;
//   }
// }

// @mixin responsive-minmsx($min, $max) {
//   @media screen and (min-width: $min) and (max-width: $max) {
//     @content;
//   }
// }

.main-navbar-logo {
  width: 10rem;
  height: 3rem;
  @include responsive($mobile) {
    width: 14rem;
    height: 4rem;
  }
}

.nav {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  display: flex;
  justify-content: space-around;
  // @include responsive($laptop) {
  //   max-width: 1920px;
  //   margin: auto;
  // }
}

.navbar {
  position: relative;
  background-color: white;
  // z-index: 1;
  top: 0;
  padding: 0;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  @include responsive($mobile) {
    padding: 6px 2%;
    img {
      display: block;
      margin: auto;
    }
  }
  @include responsive($laptop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    max-width: 1920px;
  }
  @include responsive($laptop) {
    max-width: 1920px;
    margin: auto;
  }
}

.navbar-products {
  border-right: 1px solid $input-camera-icon-color;
  display: flex;
  align-items: center;
  // font-size: $text-12;
  font-weight: 500;
  gap: 4px;
  padding: 0 8px;
  padding: 0 16px;
  font-size: clamp(12px, 2vw, 16px);
  // @include responsive($tablet) {
  // }
}

.flexbox {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  align-content: center;
  font-size: $text-12;
  font-weight: 400;
  transition: 100ms;
  span {
    opacity: $opacity-medium;
    transition: 100ms;
  }
  p {
    font-size: $text-14;
    font-weight: 500;
    line-height: 0;
    opacity: $opacity-high;
  }
  &:hover {
    color: $primary-color;
    span {
      transform: rotate(180deg);
    }
  }
}

.main-nav-sticky {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: $shadow;
  // z-index: 100;
  transition: all 0.3s ease;
  div.navbar-left-side {
    display: flex;
    @include responsive($mobile) {
      padding-left: 16px;
    }
    @include responsive-minmsx($mobile, $laptop) {
      display: none;
    }
    @include responsive($laptop) {
      display: block;
    }
  }
  div.navbar-right-side {
    padding: 0 24px;
    justify-content: space-around;
    @include responsive($mobile) {
      padding-right: 16px;
    }
    div.categories-resize {
      display: none;
    }
  }
}

.nav-links-resize {
  width: 10%;
  text-align: center;
}

.navbar-right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @include responsive($laptop) {
    width: 80%;
  }
}
.categories-resize {
  display: none;
  cursor: pointer;
  @include responsive($mobile) {
    z-index: 100;
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    .cat {
      // background-color: red;
      font-size: clamp(12px, 2vw, 16px);
      padding: 0 8px;
      height: 40px;
      position: relative;
      z-index: 200;
      display: flex;
      align-items: center;
      background-color: white;
    }
    .dropdown-container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 24px 0;
      z-index: 100;
      box-shadow: $shadow-ul;
      display: none;
      background-color: $white;

      ul.dropdown-list {
        padding: 0 8px;
        width: 100%;
        list-style: none;
        display: grid;
        grid-auto-flow: row;
        gap: 0px;
        height: 100%;
        grid-template-columns: repeat(2, 200px);

        li.dropdown-item {
          display: flex;
          align-items: end;
          text-align: center;
          height: 36px;
          width: 200px;
          text-align: left;
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: clamp(10px, 2vw, 14px);
          color: black;
          opacity: $opacity-high;
          flex-shrink: 0;
          gap: 8px;
          font-size: $text-12;
          opacity: $opacity-medium;

          &:hover {
            color: $primary-color;
          }
          @include responsive($tablet) {
            width: 300px;
          }
        }
        @include responsive($tablet) {
          grid-template-columns: repeat(2, 300px);
        }
      }
    }
    &:hover {
      box-shadow: -4px -4px 10px -3px rgba(0, 0, 0, 0.26),
        7px 0px 8px -3px rgba(0, 0, 0, 0.26);
      color: $primary-color;
    }
  }
  @include responsive($laptop) {
    display: none;
  }
}
.categories-resize:hover .dropdown-container {
  width: 400px;
  height: 600px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  grid-auto-rows: minmax(600px, auto);
  gap: 16px;
  @include responsive($tablet) {
    width: 600px;
  }
}

.categories:hover .dropdown-container {
  // z-index: 1;
  width: 600px;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 0px;
}

.sidebar-icon {
  @include responsive($laptop) {
    display: none;
  }
}

.navbar-left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding-top: 12px;
  }
  div {
    &.search-icon-resize {
      padding-top: 12px;
      display: block;
      color: black;
      opacity: $opacity-high;
      font-size: $text-14;
      @include responsive($mobile) {
        display: none;
      }
    }
  }
}
