$xl2: 1760px;
$xl: 1025px; 
$lg: 728px; 
$md: 426px;
$sm: 28em;
$xs: 20em;



$primary-color: crimson;
$light-gray: lightgray;
$input-camera-icon-color: gray;
$white: white;

$opacity-high: 0.87;
$opacity-medium: 0.6;
$opacity-low: 0.38; 

$text-20: 20px;
$text-18: 18px;
$text-16: 16px;
$text-14: 14px;
$text-12: 12px;
$text-10: 10px;
$text-8: 8px;

$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.07);
$shadow-ul: 0 3px 6px 0 rgba(0, 0, 0, 0.07), 0 4px 10px 0 rgba(0, 0, 0, 0.10);
