@use "../../../styles/responsive.scss" as *;
$mini-laptop-size: 1280px;
.mainslider-main-container {
  max-width: 1208px;
  width: 95%;
  padding: 24px 12px;
  margin: 48px auto;
  display: block;
  justify-content: space-between;
  background-color: #d7594d;
  .mainslider-cards {
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    @include responsive($mini-laptop-size) {
      margin-bottom: 0;
      flex-direction: column;
      width: 28%;
    }
  }
  .mainslider-slider {
    // background-color: #fff;
    // border-radius: 8px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    @include responsive($mini-laptop-size) {
      width: 70%;
    }
  }
  @include responsive($mobile) {
    padding: 24px 36px;
  }
  @include responsive($mini-laptop-size) {
    display: flex;
    width: 80%;
  }
}
