@use "../../../styles/responsive.scss" as *;
$filter-break-1: 905px;
@mixin filter_button {
  button {
    font-size: clamp(10px, 1vw, 12px);
    height: 100%;
    border: 1px solid #ced3d9;
    width: max-content;
    padding: 7px 8px;
    background-color: #f5f7fa;
    border-radius: 2px;
    transition: 0.3s;
    &:hover {
      background-color: #e6ecf2;
    }
    @include responsive($tablet) {
      padding: 7px 12px;
    }
  }
}
@mixin filter_input {
  input {
    font-size: 12px;
    width: 20%;
    min-width: 28px;
    height: 30px;
    border: 1px solid #ced3d9;
    border-radius: 2px;
    padding: 2px 8px;
    &::placeholder {
      font-size: 12px;
    }
  }
}
@mixin filter_title {
  span {
    white-space: nowrap;
    font-size: clamp(12px, 1vw, 14px);
    color: #222;
    font-weight: normal;
  }
}
@mixin filter_styles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.spt-filter {
  padding: 8px 12px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: start;
  &__odp {
    gap: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__price {
      @include filter_styles();
      @include filter_title();
      @include filter_input();
      @include filter_button();
    }
    &__order {
      @include filter_styles();
      @include filter_title();
      @include filter_input();
      @include filter_button();
      #spt-min-order-input {
        width: 80px;
        @include responsive($tablet) {
          width: 100px;
        }
      }
    }
    @include responsive($filter-break-1) {
      width: 60%;
    }
  }
  &__sort {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  @include responsive($filter-break-1) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  @include responsive($tablet) {
    padding: 10px 20px;
  }
}
