@use "../../styles/responsive.scss" as *;
.products-main-page-container {
  width: 98%;
  margin: auto;
  .products-page-text-under-main-banner {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    margin-top: 16px;
    p {
      font-size: 14px;
      font-weight: 500;
      color: #888;
    }
    // copy and Paste
  }
  .products-main-body {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: auto;
    margin-top: 24px;
    .products-page-main-body-product-container {
      position: relative;
      height: 100%;
      width: 98%;
      // height: 1800px;
      height: max-content;
      .products-page-main-body-cards-container {
        position: relative;
        background-color: #fff;
        margin-top: 24px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        // padding-bottom: 16px;
        border-bottom: 1px solid #e6ecf2;
      }
      @include responsive($tablet) {
        width: 85%;
      }
    }
    .products-page-main-body-cards-pagination {
      background-color: #fff;
      padding: 16px 16px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      .products-page-cards-pagination-next-button {
        background-color: #e64545;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #fff;
        border-radius: 4px;
        margin-left: 8px;
      }
    }
    .products-page-secondary-banner {
      padding-top: 16px;
      margin-top: 16px;
    }
  }
}
